body {
    font-family: 'comfortaaregular', sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    color: #eee;
    background: #111;
}

p {
    line-height: 1.2;
}


.op {
    font-size: 1.2em;
    margin: 1%;
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.threadView {
    font-size: 0.8em;
    float: right;
    display: block
}


.thread {
    text-align: left;
    margin: 2%;
    padding: 1%;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

.reply {
    margin-right: 16%;
}

.threadTitle {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 2em;
    border-bottom: 2px solid gray;
}

.post p {
    font-family: 'comfortaaregular', sans-serif;
    white-space: pre-wrap;
    margin-top: 0.5%;
}

.post {
    vertical-align: top;
    padding: 1%;
    margin: 1%;
    margin-top: 0;
    text-align: justify;
    overflow: hidden;
}


.post img {
    max-width: 30%;
    float: left;
    display: block;
    margin-right: 2%;
}

#threads {
    text-align: center;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-right: 1%;
    margin-bottom: 2%;
}

#header h1 {
    font-size: 3em;
}

#header {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid gray;
}


#newThread {
    line-height: 1;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 2%;
    max-width: 480px;
    text-align: left;
}

.newReply input {
    color: #333;
    background: #eee;
}

#newThread label {
    float: left;
    width: 25%;
}

#newThread textarea {
    background: #eee;
    width: 70%;
}

#newThread h2 {
    font-size: 1.2em;
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom: 1px solid white;

}

#newThread input {
    color: #333;
    background: #eee;
    width: 49%;
    border: none;
}

a {
    color: #55f;
}

a:visited {
    color: #66e;
}

#topbar {
    font-size: 1.5em;
    border-bottom: 2px solid gray;
    width 100%;
}

#topbar li {
    display: inline;
}

.postInfo {
    font-size: 0.8em;
    text-align: left;
    background: #333;
    line-height: 1.2;
    padding: 0.5%;
}

.fileInfo {
    padding: 0.5%;
    line-height: 1.2;
    font-size: 0.8em;
    margin-bottom: 0.5%;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
}

#captcha {
    font-family:'fantasque_sans_monoregular', monospace, fixed;
    white-space: pre-wrap;
    line-height: 1;
    font-size: 0.6em; !important
    width: 100%;
    display: block;
}
