body {
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #eee;
    background: #111;
}

.thread {
    text-align: left;
    margin: 2%;
    padding: 2%;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

.reply {
    margin-left: 2%;
}

.threadTitle {
    font-size: 2em;
    border-bottom: 2px solid gray;
}

.post {
    vertical-align: top;
    border-bottom: 1px solid gray;
    padding: 1%;
    margin: 1%;
    text-align: justify;
    overflow: hidden;
}

.post img {
    max-width: 30%;
    float: left;
    display: block;
    margin-right: 2%;
    margin-bottom: 2%;
}

#threads {
    text-align: center;
    border: 2px solid gray;
    margin: 3%;
}

#header {
    text-align: left;
    width: 100%;
    padding-left: 4%;
    border-bottom: 2px solid gray;
}

#newThread {
    margin-left: 4%;
}

input {
    border-bottom: 1px dotted gray;
    bottom: 0.1%;
}

